<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BuildingMapper">
	<select id="findBuilding" parameterType="com.example.demo.pojo.Building" resultType="com.example.demo.pojo.Building">
		select * from building
	</select>
	<!-- <select id="findUserone" parameterType="com.example.demo.pojo.User" resultType="com.example.demo.pojo.User">
		select * from user
		<where>
			<if test="username!=null and username !=''">
				username=#{username}
			</if>
		</where> 
	</select> -->
	<!-- <delete id="deleteUser" parameterType="com.example.demo.pojo.User">
		delete from  user where username = #{username}
	</delete>
	<update id="updateUser"  parameterType="com.example.demo.pojo.User" >
		update user 
		<set>
			<if test="username!=null and username !=''">
				username=#{username},
			</if>
			<if test="password!=null and password !=''">
				password=#{password},
			</if>
			<if test="name!=null and name !=''">
				name=#{name},
			</if>
			<if test="sex!=null and sex !=''">
				sex=#{sex},
			</if>
			<if test="identity!=null and identity !=''">
				identity=#{identity},
			</if>
			<if test="email!=null and email!=''">
				email=#{email},
			</if>
			<if test="mobile!=null and mobile!=''">
				mobile=#{mobile},
			</if>
			<if test="picture!=null and picture!=''">
				picture=#{picture}
			</if>
		</set>
		<where>
			id=#{id}
		</where>
	</update> -->
</mapper>